$border-default: 1px solid gray;


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(44, 44, 44);
}

.container {
  display: grid;
  grid-template-areas: " header "
                       " main ";
}

.header {
  grid-area: header;
  text-align: center;
}

.main {
  grid-area: main;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 75vw;
  height: 75vw;
  max-width: 500px;
  max-height: 500px;
}

.cell {
  display: flex;
  align-items: center;
  background: white;
  transition: background ease-out .25s;

  &[data-row='1'] {
    border-top: $border-default;
    border-bottom: $border-default;
  }
  &:nth-child(3n+2) {
    border-left: $border-default;
    border-right: $border-default;
  }
  &::after {
    content: attr(data-value);
    margin: 0 auto;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &:hover {
    color: white;
    background: rgb(39, 39, 39);
  }
}
